* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --bg-color: grey;
    --primary-color: #97D8B2;
    --s-color: #db4141;
    --t-color: #8d3b8d;
    --f-color: #bf69b1;
    --car-space : 75px
}
/* MENU DESCENDANT */

.hvr-container {
    position: absolute;
    background: var(--bg-color);
    border-radius: 50px;
    height: 3em;
    width: 175px;
    justify-content: center;
    color: #fff;
    display: flex;
    transition: ease 1s;
}
.hvr-container ul {
    display: none;
    margin-top: 2em;
    line-height: 1em;
    color: antiquewhite;
    text-decoration: none;
    font-size: 1.2em;
}
.hvr-container:hover{
    height: 15em;
}

.hvr-container:hover p {
   display: none;
}

.hvr-container:hover ul,a {
    display: block;
    color: #252525;
}


/* =================== */
.exo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 350vh;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
/* ===================== */
/* LE CARRÉ QUI TOURNE */
.div1 { 
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    width: 40%;
    height: 400px;
}

.div1 div{
    width: 150px;
    height: 150px;
    margin: auto;
    background: bisque;
    animation: sqr-rotate 10s infinite;
}

@keyframes sqr-rotate {
    15% { background-color: #db4141; } 
    30% { background-color: #812479; } 
    45% { background-color: #8d3b8d; }
    50% {
      transform: rotate(360deg);
    }
    60% { background-color: #bf69b1; } 
    75% { background-color: #97D8B2; }
    to {
        transform: rotate(-360deg);
    }
}

/* ======================== */

/* BALLE QUI REBONDIT */
.div2 { 
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    width: 40%;
    height: 400px;
}
.ball-content{
    border:3px solid var(--primary-color);
    width: 7%;
    height: 70%;
    margin-top: 10%;
    background: #252525;
}

.ball {
    background: var(--primary-color);
    width: 90%;
    height: 10%;
    margin: auto;
    border-radius: 50%;
    animation-duration: 2.7s;
    animation-name: bounce;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    20%{
        transform: translateY(100%);
    }

    40%{
        transform: translateY(200%);
    }
    60%{
        transform: translateY(500%);
    }
    85%{
        transform: translateY(700%);
    }
  
    10% ,30%,50%,70%,100%  {
        transform: translateY(900%);
    }
  }


/* ============================ */



.div3 { 
    background-color: var(--bg-color);
    width: 40%;
    height: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.queu-container {
    /* background: #000; */
    width: 95%;
    height: 90%;
    position: relative;
}


.queu-container h2{
    position: absolute;
    top: 10%;
    left: 37.5%;
}

.div-queu {
    width: 25px;
    height: 25px;
    border: 3px solid var(--primary-color);
    background: var(--primary-color);
    animation-duration: 10s;
    animation-name: qMouv;
    animation-iteration-count: infinite;
    position: absolute;
    transition: ease 1s;
}
.div-queu:nth-child(1){
    animation-delay: 0.5s;
    
}
.div-queu:nth-child(2){
    animation-delay: 1s;
}
.div-queu:nth-child(3){
    animation-delay: 1.5s;
}
.div-queu:nth-child(4){
    animation-delay: 2s;
}
.div-queu:nth-child(5){
    animation-delay: 2.5s;
}
.div-queu:nth-child(6){
    animation-delay: 3s;
}

@keyframes qMouv {
    from{
        
    }
    20%{
        transform: translateX(475px) rotate(360deg);
        
    }
    50%{
        /* transform: rotate(1080deg); */
        transform: translate(475px, 330px);
    }
    70%{
        
        /* transform: rotate(1440deg); */
        transform: translate(0px, 330px) rotate(360deg);
    }
    to {
        transform: rotate(360deg);
        transform: translate(0px);  
    }
}

.div4 {     
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    width: 40%;
    height: 400px;
}

#load-container {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#load-container div {
    border: 3px solid var(--primary-color);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    animation-duration: 6s;
    animation-name: loading;
    animation-iteration-count: infinite;
}

#load-container div:nth-child(2) {
    animation-delay: 2s;
}

#load-container div:nth-child(3) {
    animation-delay: 4s;
}

@keyframes loading {
    from{
        background: var(--f-color);
    }
    50%{
        background: var(--primary-color);
    }
    to {
         background: var(--s-color);
        }
}

/* ==================== */

.div5 {     
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    width: 600px;
    height: 600px;
    perspective: 1000px;
    /* perspective-origin: 50% -0%; */
    
}


#carousel-container {
    height: 30px;
    position: absolute;
    transform-style: preserve-3d;
    display: flex;
    animation: moveCarousel 10s linear infinite;
    /* background: rgba(0, 0, 0, 0.24); */
    padding: 100px;

}

@keyframes moveCarousel {
    from {

    }
    25%{
        transform: translateX(350px) rotate3d(1, 1, -1, 180deg); 
    }
    50%{
        /* transform: translate(0px,350px); */
        transform: translate(350px, 350px) rotate3d(1, 1, 1, 360deg);

    }
    70%{
        
        /* transform: rotate(1440deg); */
        transform: translate(0px, 350px) rotate3d(1, 1, 1, 540deg);
    }
    75% {

    }

    to {   
        transform: translate(0px,0px) rotate3d(1, 1, 1, 720deg);
    }
}

#carousel-container div {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    margin: 50%;
    margin-top: 5em;
}


#carousel-container div:nth-child(1) {
    transform: rotateY(0deg) translateZ(var(--car-space));

}
#carousel-container div:nth-child(2) {
    transform: rotateY(40deg) translateZ(var(--car-space));
}
#carousel-container div:nth-child(3) {
    transform: rotateY(80deg) translateZ(var(--car-space));
}
#carousel-container div:nth-child(4) {
    transform: rotateY(120deg) translateZ(var(--car-space));
}
#carousel-container div:nth-child(5) {
    transform: rotateY(160deg) translateZ(var(--car-space));
}
#carousel-container div:nth-child(6) {
    transform: rotateY(200deg) translateZ(var(--car-space));
}
#carousel-container div:nth-child(7) {
    transform: rotateY(240deg) translateZ(var(--car-space));
}
#carousel-container div:nth-child(8) {
    transform: rotateY(280deg) translateZ(var(--car-space));
}
#carousel-container div:nth-child(9) {
    transform: rotateY(320deg) translateZ(var(--car-space));
}